<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="splitassign" value="False" />
    <add key="locktest" value="True" />
    <add key="testgray" value="True" />
    <add key="noupdate" value="False" />
    <add key="useEquipped" value="False" />
    <add key="testGen" value="5000" />
    <add key="testShow" value="100" />
    <add key="testTime" value="20" />
    <add key="nostats" value="True" />
    <add key="colorteams" value="True" />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>